:host{
    display: block;
    margin:3rem auto 0;
    width:80%;
}

table{
    width:100%;

    .action-group{
        display: grid;
        gap:1rem;
        grid-template-columns: 1fr 1fr;
    }

    .mat-mdc-header-cell{
        font-size: 1.2rem;
        font-style: italic;
    }
}